# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf
# adding object files that will be needed by students for HW02
!HW02/obj/kmean.o
!HW02/obj/mem_mgmt.o

# adding object files that will be needed by students for HW02
!HW03/obj/closest_centroid.o
!HW03/obj/dist2.o


# adding object files that will be needed by students for HW05
!HW05/obj/pe04.o


# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
